body {
    padding: 0;
    margin: 0;
    background-color: white;
    text-align: center;
}

#app {
    font-family: 'Microsoft Yahei','Avenir',Helvetica,Arial,sans-serif;
}

.page-content {
    width: 87.5%;
    padding: 1%;
    margin-left: 10.5%;
    display: flex;
    flex-direction: column;
    background-color: rgb(210, 210, 210);
    line-height: 44px;
}